[submodule "NSLogger"]
	path = NSLogger
	url = https://github.com/fpillet/NSLogger.git
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack.git
